<div class="search">
	Form_for 
</div>
<div class="header">
	<h1>
		<center> Moment
			<br><br> 
			<i>
				The official digital archive of moments, captured by you!
			</i>
		<center>
	</h1>
</div>

<br><br><br><br><br><br>

<h4>
	<br><br>

	<p1 id="first"> 
		As humans the art of oral tradition has evolved over the millennia. But one constant has always remained, we love stories. Throughout time they have played a fundamental role in our development, creativity and the perspective that we gain throughout our life.
	</p1> 
		
	<br><br>

	<p2 id="secound">
		All of us are storytellers in oneway or another, whether with our friends, family or on the internet. Now more then ever our ability to connect and share with oneanother has never been greater.
		Stori lets you take advantaged of that in a whole new light. Never again will you lose connection with the moments that make life worth living and never again will you forget them.
	</p2>
	
	<br><br>
	
	<p3 id="third">Too many times the best moments pass us by! perhaps we re-tell that story to one or two people, but then it is lost forever in time. <i>Never again!</i> Creating a story will forever lock it in as moment in the ark of human experience. Adding yet another peice to the human story that we will create together! Create, comment, share and explore the infinite realm of storis that we will create togeather.
	</p3> 
</h4>

<br><br><br><br><br><br>

<div class="bottom">
	<h4>
		<center> 
			<%= link_to "SignUp and start creating now!", new_user_session_path %>
		</center>
	</h4
</div>

