<h1><center> Stori <br><br> The official digital archive of moments, captured by you!<center></h1>

<h3> Stori lets you share and explore moments created by you, anonymously with the whole world!</h3>


<h3> What is Stori? </h3>
<h3> As humans the art of oral tradition has evolved over the millennium. But one constant has always remained we love stories. They have played a fundamental role in our development, creativity and the perspective we gain throughout our life. We are all storytellers in oneway or another, whether with our friends, family or on the internet. Now however, more then ever we live a in ever increasingly connected world, and our ability to share has never been greater. Stori lets you take advantaged of that in a whole new light. Never again will you lose connection with the moments that you love or hate, the moments that make life worth living and exploring. Many times the best moments pass us by, perhaps we re-tell that story to one or two people, but then it is lost in time. <i>Never again!</i> Creating a story will forever lock in that moment in the ark of human experience, and add to the human story that we can create together! Create, comment, share and explore the infinite realm that we have created. </h3>

<h3> SignUp and start creating now!</h3>