/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_bootstrap.min
 */
body {
	background-image: url(http://3.bp.blogspot.com/_q016kExGrVs/TReSLlwH-6I/AAAAAAAAAic/1lmHd6s2QbU/s1600/routes.png);
}
.header {
	font-family: monospace;
	color: white;
}
.header1 {
	color: white;
	margin-left: 40px;
	margin-right: 40px;
}
.bottom {
	font-size: 100px;
	color: green;
}
.user_nav {
	font-size: 15px;
	margin-left: 10px;
	color: white;
}
.sign_in {
	width: 350px;
	height: 200px;
	margin-left: 500px;
	color: white;
}
.sign_up {
	width: 500px;
	height: 200px;
	margin-left: 550px;
	color: white;	
}
.sign_in_head {
	color: white;
}
#first {
	margin-left: 20px;
	color: white;
}
#secound {
	margin-left: 20px;
	color: white;
}
.show_pages {
	color: white;
	background-color: rgba(255, 0, 0, 0.26);
}
#third {
	margin-left: 20px;
	color: white;
}
#dashboard {
	color: white;
}
#table_color {
	color: white;
}
.listing {
	color: white;
}
#size_dash {
	font-size: 40px;
	overflow: auto;

}
#storyHead {
	color: white;
}
#search {
	color: white;
}